<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

        <li class="nav-item">
            <a class="nav-link " href="javascript:void(0)" routerLink="/home/dashboard" routerLinkActive="active">
                <i class="bi bi-grid"></i>
                <span>Dashboard</span>
            </a>
        </li><!-- End Dashboard Nav -->

        <li class="nav-item">
            <a class="nav-link " href="javascript:void(0)" routerLink="/home/accounts" routerLinkActive="active">
                <i class="bi bi-person-badge"></i>
                <span>Accounts</span>
            </a>
        </li><!-- End Dashboard Nav -->

        <li class="nav-item">
            <a class="nav-link " href="javascript:void(0)" routerLink="/home/celebrity" routerLinkActive="active">
                <i>
                    <img
                        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABmJLR0QA/wD/AP+gvaeTAAACIUlEQVQ4jbWSQWsTURDH//Pe24amuGlcCYh6EAShVcRbDtVmUwy0J2uyFVqKehDEL+FX8CQi4smIEmuFHgIaG7Ue9NBCIDmIYKkISkva7BYbk91940ECRZdcxDnN/PgxzDAD/M+w860ZO9+a6edQFDzvtI4LiKyE/sIM0iSOaejlt6Xh9T9d1Uuyjjfth/L9yrOhb4pFRoW09GJxeBMActO7qa4SUwDWz136cdiQYXq5ZC4CAOXmvw9123FbAq4mpCWCJ2Ojya9v6t6N6tPEHQCwC+7N8VPm3XeNnaOa1QwBH0IgMTC4V6VMwb1FRI+rJfPj5FzT7HSMPIgbzDzBJDYBgBgWEb8G02gs5i+Ui5ZnO95JgC8LAXopGCkAKBctjwmHLJirAcn70HoDWm9wEN6zYK4CsMpFywMAwUgRU0XFYn693ZU5O+9OkTBqrIMmBKQCz0vgeRckpSGuf07idmIbzayzd4S1fyYkHYfPFQIA23FnQxmsyNA4Gwr6JINwRApdqZQOugAwNttKKh8TWlNNEo2Eyl8TvhrPnDYfRd42U3DnHIdlr3Yclrbjzka5IgpKQ1a2sHu1V2/x7jUjEJUoV0VBnzsDig1tF9yHBLAmvPoZ68ai3L8+cXKuaba7Mqc01vbzUFAaWtSqCwcafSfotOWJwXZiqVymzn6eubizLRRfANC/gSUT9WbcvZLNt8Di94SkwQCkRYkHUWv8U/wCYrbeXnzhYUQAAAAASUVORK5CYII=">
                </i>
                <span>Celebrity</span>
            </a>
        </li><!-- End Celebrity Nav -->

        <li class="nav-item">
            <a class="nav-link " href="javascript:void(0)" routerLink="/home/representatives" routerLinkActive="active">
                <i>
                    <img
                        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABmJLR0QA/wD/AP+gvaeTAAABk0lEQVQ4jaWSzyuDcRzH359nI5lNqR3MStphCgdHB9ozcxg52J6nlKRcOPEfaEf/gEJuLtjaDkjJj2K1kxt2cxCJLJ5nW6g9348Dj9geRt63z7v39/V9fz99gX+KrMyB0aKnVDJiANcDqCEg/USulUycnn5FlVU90RspNptzUNHCAeUxGYuxVJ6tMAKRnBfMt8dJx43pHSQadySm84NswV8VIGpBAGkVtQjPVm0rAMH2pmswt1pk/Q694aIqIH324AXhvtxnUNGoKzRWBezFmy6Z0BYey7lMr1fNuwHh3k0576oC3q6j5ZcX+4Q52tiYJMKCZdZaTLKib5iTHNXWvktafiQ5mu8gEqsAnwAAg7oNmzR+tO7M/gjoV/UewTwNkJfAmwxMvYeWGDQM8JVEtLgfd2XMMx87kFVtjgUPcUnMHiacIcHwAZQCKCUYvsOEM2QjY8ZgHpRVbe5LjT610BVU9PmKpyjalqxq2+V+UNHnAyP5TgCwA4BNGB4mtH9e3Ju4BgyU+wyuJYlbAJxa7fBPegXFtpQXS9RteQAAAABJRU5ErkJggg==">
                </i>
                <span>Representative</span>
            </a>
        </li><!-- End Representative Nav -->

        <li class="nav-item">
            <a class="nav-link " href="javascript:void(0)" routerLink="/home/logs" routerLinkActive="active">
                <i>
                    <img
                        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABmJLR0QA/wD/AP+gvaeTAAAB90lEQVQ4jZWTP2yNURjGf8+5H67gtloDkRCNxNChZgm9LZsOpPcTNoOhG2EwkUYtJCIsnUUM8okmSCRVN1gkHQxoQirxdzDQ23svEaLnMZTrT74K73Jy3pPn97znyTniP6ovbWySYxYUByayjlcAyY/DclrfKHMMtDRPLHvM9k6kA3MxHAcOAOgXwMEA96tZ22S+e7MXYq/wF6KWE7hWzdomQ8sh0mF7Rf7wFo6HFxU/ncHqXlL8etr2UbACQJq6AF4q05Un7x9s7DW6Pn5x9UdFzt+81NmQudVfqVcCQJYRkZbEQG0B/0OyX5cHZ3fEwL75VS+MjiTzExDemxpocS4AjSjE9fOB+YlEFxgTTiYA3d343mOvdQzP8wB3rpRutMLcXetRoi3VrH0UoBWiCdNa4Aq/VaLEUcXWFmBqCmH32Hz8m7ac1jaDNsm++6PXCtHSgyBP5wmHhx3KlfpocBgA6g7aVa7Uz7YAaUoQ3mrC5jzA3UfN/QFXo6k1VpbGgbcBPewbnN3zfQLNGTLFOJEHEN4a37WNSXpTmmk8FX627POHyxC2/3yJppOCkjyARZM1zXZgp+GC0cCnYnGVRK31F3akM+uiC6eMCn/Iv4TIuRg8pOgT1asrX25LZzck1gkVNCL+scqVWlkOQ8CcRJB0/nZWuv8NlubUFaaxewMAAAAASUVORK5CYII=">
                </i>
                <span>Logs</span>
            </a>
        </li><!-- End Logs Nav -->

        <li class="nav-item">
            <a class="nav-link " href="javascript:void(0)" routerLink="/home/connections" routerLinkActive="active">
                <i>
                    <img
                        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABmJLR0QA/wD/AP+gvaeTAAACWUlEQVQ4jY2TzUtUYRTGn3Pmztz50HvHTCMXtahlFiIYgsS1L5CQPsaBUqIW5a7SXctZ9A+0iiaoFiLFJC4GWmUNmrQIoUzJhAILrEXjzL1Xx3E+3tOmGzYN5Fmd857n/J6X8/KSZYmGZncIDIIoXWnV59NPmr9hp2HFnCs9g/kmr+6N2Tf/N9PXJ7qXMxj0ejya8w6IZOnUxY22eoOJhHBvzB7dDDvx3pg9CggxROmJhLAnUuB90Wr4Zz1AZjF/WCAzmQlzjBizx+Ibh7RA1TeZWXRuWDFnBaT2kKgD6/paEECpFlDeqnwO+APXrKuygHXnKFPhEXnNnsF8096y6XxpAptr7i1dLyeLm/52IRxkSEnxVhoqeJIgJSKJKNJmMqmGH1TrAgCdw+I3sva9Kmt3p1MNH7rjEgoq57qwrGZS0WfbtVwPYOacDmJKBlCyj8fsOyE4A8GCcR+C5lptXYBAqi9Txtuq+EZU1kiIwvJm2IlDuLgjAIF8Jy5ttIrQe2qxjxChy2o3xgnw1Wq17cXp825rCWiNFN2FdT1yW4M8rkAMJixl5p0uYsr+a/Y7rHh+gITLRPJdFM4I4SMgJoi3SIFBaoXAHUyVBy9Su+y/AP39q2E3ELmQmTDHAO8V3MuvJoyH2906h8Vv5NwRUlhSrMItMCcZAApaQ4iIXE84l6QysZRrrzuXpDKUzIuqfm0sFtJZcYcYAKYmjSxE9nufyoo55yrwvau3YCHsFjP6KZ1uKyiowJ8ddA6LvzFnn4XiiE/Dm6mnxnI9QHdcQkHYl0WRH6xmfwExkQFfD/eKtQAAAABJRU5ErkJggg==">
                </i>
                <span>Connections</span>
            </a>
        </li>

    </ul>

</aside>