<div class="pagetitle">
    <h1>Logs</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0)" [routerLink]="'/home/dashboard'">Home</a></li>
            <li class="breadcrumb-item active">Logs</li>
        </ol>
    </nav>
</div><!-- End Page Title -->

<section class="section dashboard">
    <div class="row" style="height: calc(100vh - 220px);">

        <div class="manager-view" style="height: inherit;">
            <div class="left-side" style="height: inherit;">
                <mat-nav-list>
                    <a mat-list-item matTooltip="Delete" [matTooltipPosition]="'after'" (click)="delete()">
                        <mat-icon mat-list-icon>delete_forever</mat-icon>
                    </a>

                </mat-nav-list>
            </div>

            <div class="right-side" style="height: inherit;">
                <div style="height: calc(100vh - 315px);">
                    <div class="page-title">Logs list</div>
                    <app-grid-table #table [columns]="columns" [configuration]="gridConfig" style="height: inherit;"
                        [data]="list">
                    </app-grid-table>
                </div>
            </div>
        </div>

    </div>

</section>